.bg-color {background-color:#94b3fd91 ;}
.col-img {height: fit-content;}
.img-footer{
    width: 20%;
}
.c-blanco {color: white;}

li ul{list-style: none;}
ul li{list-style: none;
text-decoration: none;}
.f-body {
    color: black;
    font-size: 1rem;
    font-weight: 600;
}
.destc {color: indianred;
font-size: 20px;
font-weight: 700;}


.f-nav { font-weight: 600;
font-size: medium;}