.bg-color {background-color:#94b3fd91 ;}
.col-img {height: fit-content;}
.img-footer{
    width: 20%;
}
.c-blanco {color: white;}

li ul{list-style: none;}
ul li{list-style: none;
text-decoration: none;}